<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Database Connection -->
    <add key="DefaultConnection" value="Server=localhost;Database=SendMyFiles;Integrated Security=True;TrustServerCertificate=True;" />
    
    <!-- MinIO/S3 Configuration -->
    <add key="UseMinio" value="true" />
    <add key="MinioEndpoint" value="localhost:9000" />
    <add key="MinioAccessKey" value="minioadmin" />
    <add key="MinioSecretKey" value="minioadmin" />
    <add key="MinioUseSSL" value="false" />
    <add key="StorageBucketName" value="sendmyfiles" />
    <add key="LocalStoragePath" value="~/App_Data/Uploads" />
    
    <!-- Gmail SMTP Configuration -->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="your-email@gmail.com" />
    <add key="SmtpPassword" value="your-app-password" />
    <add key="SmtpEnableSSL" value="true" />
    <add key="SmtpFromEmail" value="your-email@gmail.com" />
    
    <!-- Application Base URL -->
    <add key="BaseUrl" value="http://localhost:8080" />
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=SendMyFiles;Integrated Security=True;TrustServerCertificate=True;" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="1048576" executionTimeout="3600" />
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

